<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
   <h4 class="mb-5 p-3 pl-4 rounded-2 text-white fw-bold shadow-sm" style="background-color: #616161;">Personal Details</h4>
    <div class="d-flex container">
        <div class="col-3">
            <img src="user/img/gifs/user-account.gif" style="width: 180px;" alt="">
        </div>
        <div style="width: 100%;">
            <div class="ms-4 bg-dark rounded-3 p-3 container mb-3">
                <h4 class="text-white mb-n1">Wallet</h4>
                <div class="d-flex  align-items-end">
                    <h5 class="text-white d-inline">Balance :</h5>
                    <button data-bs-toggle="modal" data-bs-target="#transactions" class="btn btn-sm btn-light ms-4">Transactions</button>
                </div>
    
            </div>
            <div class="border ms-4 p-4 rounded-3 bg-light container">
                <h4 class="mb-3"><span class="fs-5 me-2">Name : <%= user.username %></span></h4>
                <hr class="bg-dark">
                <h4 class="mb-3"><span class="fs-5 me-2">Email : <%= user.email %></span></h4>
                <hr class="bg-dark">
                <h4 class="mb-3"><span class="fs-5 me-2">Phone : <%= user.mobile %></span></h4>
                <hr class="bg-dark">
                <div class="d-flex align-items-start">
                    <h4 class=""><span class="fs-5 me-2">Address:</span></h4>
                    <div class="mt-1">
                        <% address.forEach(addr => { %>
                            <% addr.deliveryAddress.forEach(deliveryAddr => { %>
                                <h5 class="fw-bold d-inline"><%= deliveryAddr.street %></h5>
                                <h6><%= deliveryAddr.address1 %>(<%= deliveryAddr.address2 %>),<%= deliveryAddr.city %>,<%= deliveryAddr.state %>,<%= deliveryAddr.country %>,<%= deliveryAddr.pincode %></h6>
                                <!-- Add more fields as needed -->
                            <% }); %>
                        <% }); %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 mt-4 ">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#addaddress">Add Address</button>
    </div>
    <div class="modal fade" id="addaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">New Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addAddress" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>First Name<span>*</span></p>
                                <input type="text" name="firstName">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Last Name<span>*</span></p>
                                <input type="text" name="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Phone<span>*</span></p>
                        <input type="text" name="phone">
                    </div>
                    <div class="checkout__input">
                        <p>email<span>*</span></p>
                        <input type="text" name="email">
                    </div>
                    <div class="checkout__input">
                        <p>Country<span>*</span></p>
                        <input type="text" name="country">
                    </div>
                    <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <input type="text" placeholder="Street Address" class="checkout__input__add" name="address1">
                        <!-- <input type="text" placeholder="Apartment, suite, unite ect (optinal)"> -->
                    </div>
                    
                    <div class="checkout__input">
                        <p>address2<span>*</span></p>
                        <input type="text" name="address2">
                    </div>
                    <div class="checkout__input">
                        <p>Town/City<span>*</span></p>
                        <input type="text" name="city">
                    </div>
                    <div class="checkout__input">
                        <p>State<span>*</span></p>
                        <input type="text" name="state">
                    </div>
                    <div class="checkout__input">
                        <p>Postcode / ZIP<span>*</span></p>
                        <input type="text" name="pincode">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Add Address">
            </div>
            </form>
        </div>
    </div>
</div>
    
    <div class="modal fade" id="transactions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Transactions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-light">
                    <div class="container">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Txn. Id</th>
                                    <th>Type</th>
                                    <th class="text-end">Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
      
<body>
</html>